---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import '//fonts.googleapis.com/css?family=Inconsolata';

$spacing-unit:     30px;

%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}


$font-family-sans-serif: 	"Inconsolata";
$navbar-default-bg: 		#0B486B;
$navbar-default-color: 		#FFF;
$navbar-default-link-color: #FFF;

$navbar-default-toggle-hover-bg:           #0B486B;
$navbar-default-toggle-icon-bar-bg:        #888;
$navbar-default-toggle-border-color:       #ddd;

// @import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "syntax-highlighting",
        "main"
;

