<!-- // This element is nav stuff. -->
<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>					
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
				<ul class="nav navbar-nav navbar-right">
					{% for my_page in site.pages %}
					{% if my_page.title %}
					<li class=""><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }} <span class="sr-only">(current)</span></a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</nav>
</header>
