---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
	<div class="container">
		<div class="post">
			<header>
				<div class="page-header" itemprop="name headline">
					<h1>
						{{ page.title }}
					</h1>
					<small>
						<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
					</small>
				</div>
				{% if page.author %}
				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
					<span itemprop="name">{{ page.author }}</span>
				</span>
				{% endif %}
			</header>

			<div class="post-content" itemprop="articleBody">
				{{ content }}
			</div>
		</div>
	</div>
</article>
